export(ape2ouch, area.between.curves, birthdeath.tree, phy.anova, phy.manova)
export(delta.tree, lambda.tree, tworate.tree, linearchange.tree, rescale.tree)
export(disp.calc, dtt, ic.sigma)
export(rate.estimate, crown.p, stem.p, crown.limits, stem.limits)
export(likelihood.discrete, name.check)
export(fit.continuous, fit.discrete, prune.extinct.taxa, prune.random.taxa, rc)
export(rescale.tree, sim.char)
export(tip.disparity)
export(BDsim)
